@page
@using AspNetCoreIdentityLocalization.Resources
@inject LocService SharedLocalizer
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("Two-factor authentication (2FA)");
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>@SharedLocalizer.GetLocalizedHtmlString("You have no recovery codes left.")</strong>
            <p>@SharedLocalizer.GetLocalizedHtmlString("You must") <a asp-page="./GenerateRecoveryCodes">@SharedLocalizer.GetLocalizedHtmlString("generate a new set of recovery codes")</a> @SharedLocalizer.GetLocalizedHtmlString("before you can log in with a recovery code.")</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>@SharedLocalizer.GetLocalizedHtmlString("You have 1 recovery code left.")</strong>
            <p>@SharedLocalizer.GetLocalizedHtmlString("You can") <a asp-page="./GenerateRecoveryCodes">@SharedLocalizer.GetLocalizedHtmlString("generate a new set of recovery codes")</a>.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>@SharedLocalizer.GetLocalizedHtmlString("You have") @Model.RecoveryCodesLeft @SharedLocalizer.GetLocalizedHtmlString("recovery codes left.")</strong>
            <p>@SharedLocalizer.GetLocalizedHtmlString("You should") <a asp-page="./GenerateRecoveryCodes">@SharedLocalizer.GetLocalizedHtmlString("generate a new set of recovery codes")</a>.</p>
        </div>
    }

    if (Model.IsMachineRemembered)
    {
        <form method="post" style="display: inline-block">
            <button type="submit" class="btn btn-primary">@SharedLocalizer.GetLocalizedHtmlString("Forget this browser")</button>
        </form>
    }
<a asp-page="./Disable2fa" class="btn btn-primary">@SharedLocalizer.GetLocalizedHtmlString("Disable 2FA")</a>
    <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">@SharedLocalizer.GetLocalizedHtmlString("Reset recovery codes")</a>
}

<h5>@SharedLocalizer.GetLocalizedHtmlString("Authenticator app")</h5>
@if (!Model.HasAuthenticator)
{
<a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">@SharedLocalizer.GetLocalizedHtmlString("Add authenticator app")</a>
}
else
{
<a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">@SharedLocalizer.GetLocalizedHtmlString("Setup authenticator app")</a>
<a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">@SharedLocalizer.GetLocalizedHtmlString("Reset authenticator app")</a>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}